/*For dropdown expand when the mouse is hover on dropdown.*/
		.dropdown:hover>.dropdown-menu{
			display:block;
		}	
		
		/*Navigation bar brand name for small devices and set small device maximum with here.*/
		@media only screen and (max-width: 597px) {             				
			.navbar-brand:before {
				content: "SAC";
			}
		}
		
		/*Navigation bar brand name for mediam devices and set mediam device minimum with here.*/
		@media screen and (min-width: 597px) {									
			.navbar-brand:before {
				content: "SURYODAYA SOCIETY FOR AWAKENING COMMUNITY";
			}
		}
		
		/*Navigation bar brand name for large devices and set large device minimum with here.*/
		@media screen and (min-width: 768px) {									
			.navbar-brand:before {
				content: "SAC";
			}
		}
		
		/*Navigation bar brand name for extra-large devices and set extra-large device minimum with here.*/
		@media screen and (min-width: 1065px) {									
			.navbar-brand:before {
				content: "SURYODAYA SOCIETY FOR AWAKENING COMMUNITY";
				
			}
		}
		
		.navbar-brand:before {
			font-family:algerian; 
			color:navy;
		}
		
		.navbar{
			background-color:white;
			color:navy;
		}
		/* footer */
		
		footer{
			text-align:center;
			background-color:#CCD1D1;
			padding: 1px;
		}